h1{
	color: red;
}
#Header{
	text-align: center;
}
#head1{
	color: blue;
}
#head2{
	color: orange;
}
#head3{
	color: green;
}
.pop{
	font-size: 20px;
}
.border{
	border: 1px solid #4682B4;
}
.mb-5{
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
}
#box1{
	width: 46%;
	float: left;
}
#box2{
	width: 46%;
	float: right;
}
.clear{
	padding: 10px;
	clear: both;
}
.img-show{
	width: 100%;
}

